@font-face {
  font-family: "roboto";
  src: url(/src/fonts/roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: "poppins";
  src: url(/src/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "deadly advance";
  src: url(/src/fonts/deadly_advance/Deadly-Advance.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(/src/fonts/roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: "poppins";
  src: url(/src/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "deadly advance";
  src: url(/src/fonts/deadly_advance/Deadly-Advance.ttf);
}
body {
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.navbar {
  padding: 10px 40px;
  height: 5rem;
  width: 100vw;
  display: flex;
  align-items: baseline;
  background: linear-gradient(110deg, #8b10c4 10%, blue 60%, #8b10c4 90%);
  font-family: "poppins";
  text-transform: uppercase;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  user-select: none;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 255, 0.3);
}

.nav-logo {
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 2.5rem;
  font-family: "Deadly Advance";
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);
  transition: 300ms ease-in-out;
  transition-property: text-shadow, color, transform;
}
.nav-logo:hover, .nav-logo:focus, .nav-logo:active {
  color: white !important;
  text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.hamburger-icon {
  display: none;
  cursor: pointer;
  position: absolute;
  inset: 1.5rem 2rem 1.5rem auto;
  top: 1.5rem;
  left: auto;
  bottom: 1.5rem;
  right: 2rem;
  padding-left: 90px;
}
.hamburger-icon:hover .hamburger-line {
  background: white;
}
.hamburger-icon:focus .hamburger-line {
  background: white;
}
.hamburger-icon:active .hamburger-line {
  background: white;
}

.hamburger-line {
  width: 30px;
  height: 5px !important;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  transition: opacity 200ms ease, transform 100ms linear, top 100ms 30ms ease, background 250ms ease;
  position: absolute;
  right: 10px;
}

.hamburger-line-1 {
  top: 2px;
}

.hamburger-line-2 {
  top: 12px;
}

.hamburger-line-3 {
  top: 22px;
}

.hamburger-icon.active .hamburger-line {
  top: 12px;
  transition: transform 150ms linear, margin 0ms linear;
}

.hamburger-icon.active .hamburger-line-1 {
  transform: rotate(45deg);
}

.hamburger-icon.active .hamburger-line-2 {
  opacity: 0;
}

.hamburger-icon.active .hamburger-line-3 {
  transform: rotate(-45deg);
}

.nav-list {
  margin: 0 2vw 0 auto;
  list-style: none;
  display: flex;
}

.nav-list-item {
  display: inline-block;
  margin: 0 20px;
  text-align: center;
}

.nav-link {
  font-size: 1.05rem;
}

.link {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
.link:hover, .link:focus {
  color: white;
}

@media screen and (max-width: 54rem) {
  .nav-logo {
    font-size: 2.25rem;
    position: absolute;
    top: 15px;
  }

  .hamburger-icon {
    display: flex;
  }

  .nav-list {
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: width, height, 700ms ease, right 500ms ease, border-radius 700ms ease-in-out, background 400ms ease;
    background: radial-gradient(farthest-corner at 50% 28%, white -70%, #2828ff 74%, #a46bff 80%, #9858fd 90%);
    height: 0;
    width: 80%;
    top: 5rem;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
  }

  .nav-list.active {
    height: 60vh;
    padding: 20px 0;
    border-radius: 0 0 40px 40px;
    overflow: hidden;
  }

  .nav-list-item a {
    transition: all 700ms ease, opacity 200ms ease-in-out, color 0ms ease;
    background: linear-gradient(45deg, #5a1e96 30%, #7828b4 80%);
    width: 50vw;
    min-width: 220px;
    max-width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    height: 0;
    max-height: 0;
  }

  .nav-list.active .nav-list-item a {
    height: 10vh;
    min-height: 0px;
    max-height: 55px;
    border-radius: 40px;
    margin-bottom: 3px;
    opacity: 1;
  }
}
/* For very small screens below */
@media screen and (max-width: 325px) {
  main {
    padding-top: 3.5rem;
  }

  .navbar {
    padding: 20px;
    height: 3.5rem;
  }

  .nav-list {
    top: 3.5rem !important;
    max-height: 50vh;
  }

  .nav-logo {
    font-size: 1.55rem;
    transform: translateY(10px);
    top: 0px;
    position: absolute;
  }

  .nav-list-item a {
    max-height: 35px !important;
    min-width: 150px;
  }

  .hamburger-icon {
    top: 16px;
    right: 10px;
  }

  .hamburger-icon.active {
    top: 11px;
  }

  .hamburger-line {
    width: 20px;
    height: 3px !important;
    justify-content: space-between;
  }

  .hamburger-line-1 {
    top: 2px;
  }

  .hamburger-line-2 {
    top: 8px;
  }

  .hamburger-line-3 {
    top: 14px;
  }
}
@-webkit-keyframes active {
  from {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 10px 0px rgba(0, 0, 250, 0.6);
  }
  to {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
  }
}
@keyframes active {
  from {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 10px 0px rgba(0, 0, 250, 0.6);
  }
  to {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
  }
}
button,
[role=button] {
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 150px;
  height: 50px;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 0 #CECFD1;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

button::-moz-focus-inner,
[role=button]::-moz-focus-inner {
  border: 0;
}

button > *,
[role=button] > * {
  transition: transform 0.2s ease;
}

button:hover:not([disabled]),
[role=button]:hover:not([disabled]) {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

button:hover:not([disabled]) > *,
[role=button]:hover:not([disabled]) > * {
  transform: scale(0.975);
}

button:focus:not(:active),
[role=button]:focus:not(:active) {
  -webkit-animation: active 0.9s alternate infinite;
  animation: active 0.9s alternate infinite;
  outline: none;
}

button:active:not([disabled]),
[role=button]:active:not([disabled]) {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

button:active:not([disabled]) > *,
[role=button]:active:not([disabled]) > * {
  transform: scale(0.95);
}

button:disabled,
[role=button]:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

button.icon,
[role=button].icon {
  width: 50px;
}

button.icon svg,
[role=button].icon svg {
  margin-top: 3px;
  width: 30px;
  height: 30px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

header {
  margin-bottom: 5rem;
}

ul {
  list-style: none;
}

.classes h2 {
  text-align: center;
}
.classes ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  height: 100vh;
}
.hero h1, .hero h2 {
  text-align: center;
}

.booksEl a {
  display: block;
}

/*# sourceMappingURL=main.css.map */
