@use "components/" as *;
@import "header.scss";
@import "components/button";


*, *::before, *::after {box-sizing: border-box}

html {scroll-behavior: smooth;}

body {
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

header {
    margin-bottom: 5rem;
}

ul {
    list-style: none;
}

.classes {
    h2 {
        text-align: center;
    }
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.hero {
    height: 100vh;

    h1, h2 {
        text-align: center;
    }
}

.booksEl {
    a {
        display: block;
    }
}