@font-face {
    font-family: "roboto";
    src: url(/src/fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: "poppins";
    src: url(/src/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "deadly advance";
    src: url(/src/fonts/deadly_advance/Deadly-Advance.ttf);
}
